# Django #
*.log
*.pot
*.pyc
__pycache__
db.sqlite3
# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# Environments

/venv/

# mkdocs documentation
/site

# mypy
.mypy_cache/

/.idea/
/data/